<div class="container">
  <header class="row">
    <h1 class="text-center col-md-6 col-md-offset-3">Polls Summary</h1>
  </header>
  <section class="row">
      <hr/>
      <div class="panel panel-primary" >
        <div class="panel-heading">
          <h2 class="panel-title">Playing Basketball </h2>
        </div>
        <div class="panel-body">
          <h3><a data-ng-href="#!/polls/{{poll._id}}">No time no see guys. Let come and play!</a></h3>
          <small>Poll created on 2014/08/02</small>
        </div>
      </div>
    </section>
</section>
</div>
